fastapi>=0.95.0
uvicorn[standard]>=0.21.0
pydantic>=1.10.0
aiofiles
python-multipart
aiohttp
numpy
librosa
pydub
soundfile
huggingface_hub
torch==2.4.0
torchaudio==2.4.0
tokenizers==0.21.0
transformers==4.49.0
moshi==0.2.2
torchtune==0.4.0
torchao==0.9.0
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master
